// import fonte Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

// vars
// colors
$main-color: #8e44ad;
$red: #e74c3c;
$orange: #f39c12;
$white: #fff;
$black: #2c3e50;
$light-color: #888;
$light-bg: #eee;
// borders
$border: .1rem solid rgba(0,0,0, .2);

// reset
* {
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;

  &::selection {
    background-color: $main-color;
    color: $white;
  }

  &::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}

// base html
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: $light-bg;
  padding-left: 30rem;
  transition: .2s linear;

  &.active {
    padding-left: 0;
  }
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: $white;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.btn,
.option-btn,
.delete-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
}

.btn,
.inline-btn {
  background-color: $main-color;
}

.option-btn,
.inline-option-btn {
  background-color: $orange;
}

.delete-btn,
.inline-delete-btn {
  background-color: $red;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.heading {
  padding-bottom: 1.8rem;
  border-bottom: $border;
  font-size: 2.5rem;
  color: $black;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

// header
.header {
  background-color: $white;
  border-bottom: $border;
  position: sticky;
  top: 0; left: 0; right: 0;
  z-index: 1000;

  .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 2.5rem;
      color: $black;
      font-weight: bold;
    }

    .search-form {
      width: 50rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1.5rem 2rem;
      background-color: $light-bg;

      input {
        width: 100%;
        background: none;
        font-size: 1.8rem;
        color: $black;
      }

      button {
        font-size: 2rem;
        color: $black;
        cursor: pointer;
        background: none;

        &:hover {
          color: $main-color;
        }
      }
    }

    .icons {
      div {
        font-size: 2rem;
        color: $black;
        border-radius: .5rem;
        height: 4.5rem;
        cursor: pointer;
        width: 4.5rem;
        line-height: 4.4rem;
        background-color: $light-bg;
        text-align: center;
        margin-left: .5rem;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }

      #search-btn {
        display: none;
      }
    }

    .profile {
      position: absolute;
      top: 120%;
      right: 2rem;
      background-color: $white;
      border-radius: .5rem;
      padding: 2rem;
      text-align: center;
      width: 30rem;
      transform: scale(0);
      transform-origin: top right;
      transition: .2s linear;

      img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
      }

      h3 {
        font-size: 2rem;
        color: $black;
      }

      span {
        color: $light-color;
        font-size: 1.6rem;
      }

      &.active {
        transform: scale(1);
      }
    }
  }
}

// side bar
.side-bar {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 30rem;
  background-color: $white;
  border-right: $border;
  transition: .2s linear;
  z-index: 1200;

  .close-side-bar {
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;

    i {
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.4rem;
      font-size: 2.5rem;
      color: $white;
      background-color: $red;
      cursor: pointer;
      text-align: center;
      border-radius: .5rem;

      &:hover {
        background-color: $black;
      }
    }
  }

  .profile {
    padding: 3rem 2rem;
    text-align: center;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: .5rem;
    }

    h3 {
      font-size: 2rem;
      color: $black;
    }

    span {
      color: $light-color;
      font-size: 1.6rem;
    }
  }

  .navbar {
    a {
      display: block;
      padding: 1rem;
      margin: .5rem 0;
      font-size: 1.8rem;

      i {
        color: $main-color;
        margin-right: 2rem;
        transition: .2s linear;
      }

      span {
        color: $light-color;
      }

      &:hover {
        background-color: $light-bg;

        i {
          margin-right: 2.5rem;
        }
      }
    }
  }

  &.active {
    left: -30rem;
  }
}

// footer
.footer {
  position: sticky;
  bottom: 0; right: 0; left: 0;
  background-color: $white;
  border-top: $border;
  padding: 2rem;
  text-align: center;
  color: $black;
  font-size: 2rem;
  margin-top: 2rem;
  z-index: 1000;

  span {
    color: $main-color;
  }
}



// Media Queries
@media (max-width: 1200px) {
  body {
    padding-left: 0;
  }

  .side-bar {
    transition: .2s linear;
    left: -30rem;

    .close-side-bar {
      display: block;
    }

    &.active {
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0, .7);
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    .flex {
      .search-form {
        position: absolute;
        top: 99%; left: 0; right: 0;
        width: auto;
        border-top: $border;
        border-bottom: $border;
        background-color: $white;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

      }

      .icons {
        #search-btn {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .heading {
    font-size: 2rem;
  }
}




/*# sourceMappingURL=style.scss.map */
