// import fonte Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

// vars
// colors
$main-color: #8e44ad;
$red: #e74c3c;
$orange: #f39c12;
:root {
  // colors
  --white: #fff;
  --black: #2c3e50;
  --light-color: #888;
  --light-bg: #eee;
  // borders
  --border: .1rem solid rgba(0,0,0, .2);
}

// reset
* {
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;

  &::selection {
    background-color: $main-color;
    color: var(--white);
  }

  &::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
  }
}

// base html
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--light-bg);
  padding-left: 30rem;
  transition: .2s linear;

  &.active {
    padding-left: 0;
  }

  &.dark {
    // colors
    --white: #222;
    --black: #fff;
    --light-color: #aaa;
    --light-bg: #333;
    // borders
    --border: .1rem solid rgba(255,255,255, .2);

  }
}

section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  color: var(--white);
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.btn,
.option-btn,
.delete-btn {
  display: block;
  width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
  display: inline-block;
}

.btn,
.inline-btn {
  background-color: $main-color;
}

.option-btn,
.inline-option-btn {
  background-color: $orange;
}

.delete-btn,
.inline-delete-btn {
  background-color: $red;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.heading {
  padding-bottom: 1.8rem;
  border-bottom: var(--border);
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 2rem;
}

// header
.header {
  background-color: var(--white);
  border-bottom: var(--border);
  position: sticky;
  top: 0; left: 0; right: 0;
  z-index: 1000;

  .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 2.5rem;
      color: var(--black);
      font-weight: bold;
    }

    .search-form {
      width: 50rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1.5rem 2rem;
      background-color: var(--light-bg);

      input {
        width: 100%;
        background: none;
        font-size: 1.8rem;
        color: var(--black);
      }

      button {
        font-size: 2rem;
        color: var(--black);
        cursor: pointer;
        background: none;

        &:hover {
          color: $main-color;
        }
      }
    }

    .icons {
      div {
        font-size: 2rem;
        color: var(--black);
        border-radius: .5rem;
        height: 4.5rem;
        cursor: pointer;
        width: 4.5rem;
        line-height: 4.4rem;
        background-color: var(--light-bg);
        text-align: center;
        margin-left: .5rem;

        &:hover {
          background-color: var(--black);
          color: var(--white);
        }
      }

      #search-btn {
        display: none;
      }
    }

    .profile {
      position: absolute;
      top: 120%;
      right: 2rem;
      background-color: var(--white);
      border-radius: .5rem;
      padding: 2rem;
      text-align: center;
      width: 30rem;
      transform: scale(0);
      transform-origin: top right;
      transition: .2s linear;

      img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
      }

      h3 {
        font-size: 2rem;
        color: var(--black);
      }

      span {
        color: var(--light-color);
        font-size: 1.6rem;
      }

      &.active {
        transform: scale(1);
      }
    }
  }
}

// side bar
.side-bar {
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 30rem;
  background-color: var(--white);
  border-right: var(--border);
  transition: .2s linear;
  z-index: 1200;

  .close-side-bar {
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;

    i {
      height: 4.5rem;
      width: 4.5rem;
      line-height: 4.4rem;
      font-size: 2.5rem;
      color: var(--white);
      background-color: $red;
      cursor: pointer;
      text-align: center;
      border-radius: .5rem;

      &:hover {
        background-color: var(--black);
      }
    }
  }

  .profile {
    padding: 3rem 2rem;
    text-align: center;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: .5rem;
    }

    h3 {
      font-size: 2rem;
      color: var(--black);
    }

    span {
      color: var(--light-color);
      font-size: 1.6rem;
    }
  }

  .navbar {
    a {
      display: block;
      padding: 1rem;
      margin: .5rem 0;
      font-size: 1.8rem;

      i {
        color: $main-color;
        margin-right: 2rem;
        transition: .2s linear;
      }

      span {
        color: var(--light-color);
      }

      &:hover {
        background-color: var(--light-bg);

        i {
          margin-right: 2.5rem;
        }
      }
    }
  }

  &.active {
    left: -30rem;
  }
}

// quick-select
.quick-select .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;

  .box {
    border-radius: .5rem;
    background-color: var(--white);
    padding: 2rem;

    .title {
      font-size: 2rem;
      color: var(--black);
    }

    p {
      line-height: 1.5rem;
      padding-top: 1.5rem;
      color: var(--light-color);
      font-size: 1.8rem;

      span {
        color: $main-color;
      }
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding-top: 1.5rem;

      a {
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        font-size: 1.6rem;
        background-color: var(--light-bg);

        i {
          margin-right: 1rem;
          color: var(--black);
        }

        span {
          color: var(--light-color);
        }

        &:hover {
          background-color: var(--black);

          i {
            color: var(--white);
          }

          span {
            color: var(--white);
          }
        }
      }
    }
  }

  .tutor {
    text-align: center;

    p {
      padding-bottom: 1rem;
    }
  }
}

// Courses
.courses { 
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;

    .box {
      border-radius: .5rem;
      background-color: var(--white);
      padding: 2rem;

      .tutor {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          font-size: 2rem;
          color: var(--black);
          margin-bottom: .2rem;
        }

        span {
          font-size: 1.5rem;
          color: var(--light-color);
        }
      }

      .thumb {
        width: 100%;
        border-radius: .5rem;
        height: 20rem;
        object-fit: cover;
      }

      .title {
        font-size: 2rem;
        color: var(--black);
        margin-top: .5rem;
        padding: .5rem 0;
      }
    }
  }

  .more-btn {
    margin-top: 2rem;
    text-align: center;
  }
}

// about
.about {
  .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    .image {
      flex: 1 1 40rem;

      img {
        width: 100%;
        height: 50rem;
      }
    }

    .content {
      flex: 1 1 40rem;
      text-align: center;

      h3 {
        font-size: 2.5rem;
        color: var(--black);
      }

      p {
        line-height: 2;
        font-size: 1.7rem;
        color: var(--light-color);
        padding: 1rem 0;
        text-align: justify;
      }
    }
  }

  .box-content {
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

    .box {
      flex: 1 1 25rem;
      display: flex;
      background-color: var(--white);
      border-radius: .5rem;
      padding: 2rem;
      align-items: center;
      gap: 2rem;

      i {
        font-size: 3rem;
        color: var(--black);
      }

      h3 {
        color: $main-color;
        font-size: 2rem;
      }

      span {
        font-size: 1.6rem;
        color: var(--light-color);
        margin-bottom: .2rem;
      }
    }
  }
}

// reviews
.reviews {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;

    .box {
      border-radius: .5rem;
      padding: 2rem;
      background-color: var(--white);
      padding-top: 1.5rem;

      p {
        line-height: 2;
        font-size: 1.7rem;
        color: var(--light-color);
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1.5rem;

        img {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          font-size: 2rem;
          color: var(--black);
          margin-bottom: .2rem;
        }

        .star {
          i {
            color: $main-color;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

// playlist
.playlist {
  .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--white);

    .col {
      flex: 1 1 40rem;

      .save-list {
        button {
          font-size: 2rem;
          border-radius: .5rem;
          background-color: var(--light-bg);
          padding: 1.2rem 2.5rem;
          cursor: pointer;
          margin-bottom: 2rem;

          i {
            color: var(--black);
            margin-right: 1rem;
          }

          span {
            color: var(--light-color);
          }

          &:hover {
            background-color: var(--black);

            i, span {
              color: var(--white);
            }
          }
        }
      }

      .thumb {
        position: relative;
        height: 30rem;

        span {
          position: absolute;
          top: 1rem; left: 1rem;
          border-radius: .5rem;
          padding: .5rem 1.5rem;
          font-size: 2rem;
          color: #aaa;
          background-color: rgba(0, 0, 0, .7);
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: .5rem;
          object-fit: cover;
        }
      }

      .tutor {
        display: flex;
        align-items: center;
        gap: 1.7rem;

        img {
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
          object-fit: cover;
        }

        h3 {
          font-size: 2rem;
          color: var(--black);
          margin-bottom: .2rem;
        }

        span {
          color: $main-color;
          font-size: 1.5rem;
        }
      }

      .details {
        padding-top: 1.5rem;

        h3 {
          font-size: 2rem;
          color: var(--black);
        }

        p {
          padding: 1rem 0;
          line-height: 2;
          color: var(--light-color);
          font-size: 1.7rem;
        }

        .date {
          font-size: 1.7rem;
          margin-top: .5rem;

          i {
            color: $main-color;
            margin-right: 1rem;
          }

          span {
            color: var(--light-color);
          }
        }
      }
    }
  }
}

// videos-container
.videos-container {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;

    .box {
      position: relative;
      border-radius: .5rem;
      padding: 2rem;
      background-color: var(--white);

      img {
        height: 20rem;
        width: 100%;
        border-radius: .5rem;
        object-fit: cover;
      }

      i {
        position: absolute;
        top: 2rem; left: 2rem; right: 2rem;
        height: 20rem;
        background-color: rgba(0, 0, 0, .3);
        display: none;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        color: #fff;
        border-radius: .5rem;
      }

      h3 {
        font-size: 2rem;
        color: var(--black);
        margin-top: 1rem;
      }

      &:hover {
        i {
          display: flex;
        }

        h3 {
          color: $main-color;
        }
      }
    }
  }
}

// footer
.footer {
  position: sticky;
  bottom: 0; right: 0; left: 0;
  background-color: var(--white);
  border-top: var(--border);
  padding: 2rem;
  text-align: center;
  color: var(--black);
  font-size: 2rem;
  margin-top: 2rem;
  z-index: 1000;

  span {
    color: $main-color;
  }
}

// Media Queries
@media (max-width: 1200px) {
  body {
    padding-left: 0;
  }

  .side-bar {
    transition: .2s linear;
    left: -30rem;

    .close-side-bar {
      display: block;
    }

    &.active {
      left: 0;
      box-shadow: 0 0 0 100vw rgba(0,0,0, .7);
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  .header {
    .flex {
      .search-form {
        position: absolute;
        top: 99%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

      }

      .icons {
        #search-btn {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .heading {
    font-size: 2rem;
  }

  .about {
    .row {
      .image {
        img {
          height: auto;
        }
      } 
    }
  }

  .playlist .row .col .thumb {
    height: 20rem;
  }
}




/*# sourceMappingURL=style.scss.map */
